p{
    background-color: aqua;color: blue;text-align: center;
}
.round{
    background-color: aquamarine;color: brown;text-align: center;
}
#style{
    background-color: blueviolet;color: azure;text-align: center;
}
h1,h2,h4{
    background-color: chocolate;color: azure;
}

*{
    background-color: cadetblue;text-align: left;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}